
$default-pixel-size: 16;
$unit: em !default;


// ----------------------------------------------------------------------
	// Layout Breakpoints
// ----------------------------------------------------------------------
$size-320px : 320;
$size-480px : 480;
$size-640px : 640;
$size-900px : 900;
$size-1024px: 1024;
$size-1280px: 1280;
$size-1440px: 1440;
$size-1600px: 1600;
$size-1920px: 1920;
// $breakpoints: (
// 	size-320px : 320,
// 	size-480px : 480,
// 	size-640px : 640,
// 	size-900px : 900,
// 	size-1024px: 1024,
// 	size-1280px: 1280,
// 	size-1440px: 1440,
// 	size-1600px: 1600,
// 	size-1920px: 1920
// );

// Defining values
// (0em, 40em);       /* 0, 640px */
// (40.063em, 64em);  /* 641px, 1024px */
// (64.063em, 90em);  /* 1025px, 1440px */
// (90.063em, 120em); /* 1441px, 1920px */
// (120.063em);       /* 1921px */


// ----------------------------------------------------------------------
	// Font Sizes
// ----------------------------------------------------------------------
$regular-size: 12;

$font-sizes: (
	320px : 15px,
	480px : 16px,
	640px : 17px,
	900px : 18px,
	1024px: 19px,
	1440px: 20px,
);


// ----------------------------------------------------------------------
	// Font Families
// ----------------------------------------------------------------------
$helvetica: Helvetica, Arial, sans-serif;
