@import 'helpers/_mixins.scss';
@import 'helpers/_variables.scss';


$card-forecast-width: 288;
$row-items-width: 258;

$list-forecast-color: rgba(0, 0, 0, 0.8);
$item-row-color: rgba(0, 0, 0, 0.5);

.card-forecast__list-forecast {
    width: 100%;
}

.card-forecast {
    // width: px2unit($card-forecast-width);
    width: 100%;
    margin: 0 auto;

    &__head {}
    &__subhead {}

    &__body {
        flex-direction: column;
    }

    &__daily-temperature {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-around;
        // padding-left: px2unit(36, 288, 100%);
        // padding-right: px2unit(36, 288, 100%);
        @include px2unit-list($card-forecast-width, 100%, "padding", 0, 36, 0, 36);
    }

    &__list-forecast {
        display: flex;
        flex-direction: column;
        color: $list-forecast-color;
    }
}

.row {
    &-items {
        width: 100%;
        display: flex;
        flex-direction: row wrap;
        justify-content: space-between;
        align-items: center;
        @include px2unit-list(none, em, "padding", 0, 8, 0, 8);
    }

    &-items:hover {
        // margin-top: 2px;
        // margin-bottom: 2px;
        background-color: #E0F7FA;
    }
}

.item {
    &-day {
        width: 10%;
        text-align: left;
    }

    &-date {
        width: 25%;
        text-align: right;
    }

    &-icon {
        width: 15%;
        text-align: center;
        font-size: 20px;
        padding-top: 2%;
    }

    &-icon--sun {
        color: #FFDC00;
    }

    &-icon--rain {
        color: #3366CC;
    }

    &-icon--storm {
        color: #FF0000;
    }

    &-icon--cloud {
        color: #7b7d7b;
    }

    &-high {
        width: 12%;
        text-align: right;
    }

    &-low {
        width: 12%;
        text-align: right;
        color: $item-row-color;
    }
}
